* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cf:after {
	display: block;
	visibility: hidden;
	content: " ";
	clear: both;
}

html {
	font-size: 16px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #212121;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 4rem;
	margin: 0;
	line-height: 1;
	letter-spacing: -1px;
}

h1:after, h2:after {
	display: block;
	content: " ";
	width: 50px;
	margin: 2rem auto;
	border: 2px solid rgba(244,67,54,1);
}

h2:after {
	border: 2px solid rgb(244,67,54);
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
	text-transform: uppercase;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 1rem;
  position: relative;
}

header {
	width: 100%;
	position: fixed;
	z-index: 1000;
	font-family: 'Open Sans', sans-serif;
	padding: 0.5rem 0;
  background: rgba(0,0,0,0.9);
}

header .logo {
	letter-spacing: -1px;
}

header .logo a {
	color: rgb(255,255,255);
	text-decoration: none;
	font-size: 2rem;
	font-weight: 900;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

.navbar-toggle {
  	display: block;
  	background: none;
  	border: none;
  	position: absolute;
  	top: -2px;
  	right: 0.7rem;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.navbar-toggle.rotate {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

.navbar-toggle i {
  	font-size: 3rem;
  	color: #ffffff;
}

nav {
	width: auto;
	display: none;
	margin-top: 0.5rem;
	padding: 1rem 0;
}

nav.open {
	display: block;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	border-bottom: 1px solid rgba(255,255,255,0.3);
	padding: 0.5rem 0;
}

nav li:first-child {
	border-top: 1px solid rgba(255,255,255,0.3);
}

nav li a {
	color: rgb(255,255,255);
	text-decoration: none;
	font-size: 1rem;
	text-transform: uppercase;
	transition: all 0.2s;
}

nav li a:hover, nav li.current a {
	color: #F44336;
}

.intro {
	padding-top: 100px;
  height: 100%;
	background: url(../images/header.jpg) center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.intro-text {
	text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

.intro-text p {
	font-size: 1.25rem;
}

.btn {
	display: block;
	border-radius: 300px;
	background: rgba(244,67,54,1);
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1rem;
	transition: all 0.2s;
	margin: 2rem 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.btn:hover {
	background: rgba(244,67,54,0.9);
}

.bio, .contact {
  background-color: #4A423F;
}

.bio {
	padding: 6.25rem 0;
	color: white;
	text-align: center;
}

.bio img {
	display: block;
	width: 180px;
	border: 1px solid white;
	border-radius: 50%;
	margin: 0 auto;
}

.bio p {
	text-align: left;
}

.bio a {
	color: white;
	transition: all 0.2s;
}

.bio a:hover {
	color: #212121;
}

.work {
	padding: 6.25rem 0 0;
	text-align: center;
  background-color: #212121;
  color: white;
}

.portfolio-items {
	margin-top: 2rem;
}

.portfolio-item {
	width: 100%;
	float: left;
	position: relative;
}

.portfolio-item img, .modal img {
	display: block;
	max-width: 100%;
	height: auto;
}

.portfolio-item .caption {
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	opacity: 0;
  	background: rgba(244,67,54,0.9);
  	transition: all ease 0.2s;
}

.portfolio-item .caption:hover {
	opacity: 1;
}

.portfolio-item .caption-content {
  	position: absolute;
  	top: 50%;
  	width: 100%;
  	height: 30px;
  	margin-top: -30px;
  	text-align: center;
  	font-size: 1.25rem;
  	color: white;
}

/* Portfolio Modals */
.modal-open {
  	overflow: hidden;
}
.modal {
  	display: none;
  	overflow: hidden;
  	position: fixed;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	z-index: 1040;
  	-webkit-overflow-scrolling: touch;
  	outline: 0;
}
.modal.fade {
  	opacity: 0;
  	filter: alpha(opacity=0);
}
.modal.in {
  	opacity: 1;
  	filter: alpha(opacity=100);
}
.modal-open .modal {
  	overflow-x: hidden;
  	overflow-y: auto;
}
.modal img {
	margin: 0 auto;
	border: 1px solid #212121;
}
.modal-dialog {
  	position: relative;
  	width: auto;
  	margin: 10px;
}
.modal-content {
  	position: relative;
  	background-color: white;
  	border: 1px solid #999999;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	border-radius: 6px;
  	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  	-webkit-background-clip: padding-box;
  	background-clip: padding-box;
  	outline: 0;
}
.modal-backdrop {
  	position: absolute;
  	top: 0;
  	right: 0;
  	left: 0;
  	background-color: #000000;
}
.modal-backdrop.fade {
  	opacity: 0;
  	filter: alpha(opacity=0);
  	transition: all 0.3s ease;
}
.modal-backdrop.in {
  	opacity: 1;
  	filter: alpha(opacity=100);
}
.modal-header {
  	padding: 15px;
  	border-bottom: 1px solid #e5e5e5;
  	min-height: 16px;
}
.modal-header .close {
  	margin-top: -2px;
}
.modal-title {
  	margin: 0;
  	line-height: 1.42857143;
}
.modal-body {
  	position: relative;
  	padding: 15px;
}
.modal-body ul {
	padding: 0;
}
.modal-body li {
	list-style: none;
	width: 100%;
	float: left;
}
.modal-body li a, .modal-body li span {
	color: rgb(244,67,54);
	text-decoration: none;
}
.modal-body li a:hover {
	color: #212121;
}
.modal-footer {
  	padding: 15px;
  	text-align: right;
  	border-top: 1px solid #e5e5e5;
}
.modal-scrollbar-measure {
  	position: absolute;
  	top: -9999px;
  	width: 50px;
  	height: 50px;
  	overflow: scroll;
}
.portfolio-modal .modal-content {
  	padding: 100px 0;
  	min-height: 100%;
  	border: 0;
  	border-radius: 0;
  	text-align: center;
  	background-clip: border-box;
  	-webkit-box-shadow: none;
  	box-shadow: none;
}
.portfolio-modal .modal-content h2 {
  	margin: 0;
  	font-size: 1.25rem;
}

.portfolio-modal .modal-content img {
  	margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
  	margin: 30px 0;
}

.portfolio-modal .close-modal {
  	position: absolute;
  	top: 25px;
  	right: 25px;
  	width: 75px;
  	height: 75px;
  	background-color: transparent;
  	cursor: pointer;
  	transition: all 0.2s;
}

.portfolio-modal .close-modal:hover {
  	opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  	z-index: 1051;
  	width: 1px;
  	height: 75px;
  	margin-left: 35px;
  	background-color: #2c3e50;
  	-webkit-transform: rotate(45deg);
  	-ms-transform: rotate(45deg);
  	transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
  	z-index: 1052;
  	width: 1px;
  	height: 75px;
  	background-color: #2c3e50;
  	-webkit-transform: rotate(90deg);
  	-ms-transform: rotate(90deg);
  	transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
  	display: none;
  	opacity: 0;
}

.contact {
	padding: 6.25rem 0;
	color: white;
	text-align: center;
}

.form-container {
	margin-top: 2rem;
}

.field label {
	display: none;
}

.field input, .field textarea {
	width: 100%;
	display: block;
	font-size: 1.5rem;
	padding: 20px 10px;
	border-top: 2px solid white;
	border-right: none;
	border-bottom: none;
	border-left: none;
  border-radius: 0;
	box-shadow: none;
	background-color: #4A423F;
}

.field textarea {
	border-bottom: 2px solid white;
}

::-webkit-input-placeholder {
   	color: rgba(255,255,255,0.8);
}
:-moz-placeholder { /* Firefox 18- */
   	color: rgba(255,255,255,0.8);
}
::-moz-placeholder {  /* Firefox 19+ */
   	color: rgba(255,255,255,0.8);
}
:-ms-input-placeholder {  
   	color: rgba(255,255,255,0.8);
}

.submit {
  	width: 100%;
  	margin-top: 2rem;
}

.submit button {
	width: 100%;
  	background: white;
  	border: none;
  	padding: 20px;
  	color: rgb(244,67,54);
  	font-size: 1.5rem;
  	text-transform: uppercase;
  	transition: all 0.2s ease;
  	border-radius: 300px;
  	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.submit button:hover {
	opacity: 0.9;
}

.success {
  	display: none;
  	font-size: 1.25rem;
  	line-height: 1;
  	padding: 5px;
  	color: #18bc9c;
  	background: rgba(255,255,255,0.95);
  	width: 50%;
  	position: fixed;
  	z-index: 1010;
  	top: 0.5rem;
  	right: 0.5rem;
  	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.9);
  	box-shadow: 0 0 5px rgba(0,0,0,0.9);
  	border-radius: 3px;
}

.parsley-errors-list {
	padding: 0;
  margin: 0;
}

.parsley-errors-list li {
	list-style: none;
	padding: 0.5rem;
	background: white;
	color: rgb(244,67,54);
}

footer {
	width: 100%;
	background-color: #212121;
	padding: 6.25rem 0 0;
	color: white;
	text-align: center;
}

.footer-top .info {
  	margin-bottom: 50px;
  	width: 100%;
  	float: left;
  	margin-left: 0;
  	margin-right: 0;
}

.footer-top .social ul {
	padding: 0;
	width: 345px;
	margin: 0 auto;
}

.footer-top .social li {
	float: left;
	margin-left: 0.55rem;
	list-style: none;
}

.footer-top .social li:first-child {
	margin-left: 0;
}

.footer-top .social li .si {
  	font-size: 1.75rem;
  	display: block;
  	width: 50px;
  	height: 50px;
  	border: 1px solid white;
  	border-radius: 50%;
  	line-height: 1.7;
}

.footer-top .social li .si:hover {
	background: white;
}

.footer-top a {
  	color: white;
  	text-decoration: none;
  	transition: all 0.2s;
}

.footer-top a:hover {
	color: rgb(244,67,54);
}

.footer-bottom {
	padding: 1rem 0;
	border-top: 1px solid rgba(255,255,255,0.3); 
}

@media screen and (min-width: 700px) {
	header {
		background: transparent;
		transition: all 0.2s;
	}
  header.pinned {
    background: #212121;
  }
	header .logo {
		float: left;
	}
	nav {
		display: none;
		float: right;
		padding: 0.8rem 0 0;
		margin: 0;
    margin-right: 5rem;
	}
	nav li {
		float: left;
		margin-left: 2rem;
		padding: 0;
		border: none;
	}
	nav li:first-child {
		margin-left: 0;
		border: none;
	}
	nav li a {
		font-size: 0.8125rem;
	}
  .intro {
    padding-top: 50px;
    height: 100vh;
  }
	.btn {
		width: 200px;
		margin: 2rem auto;
	}
	.portfolio-item {
		width: 50%;
	}
	.success {
		width: 33%;
	}
}

@media screen and (min-width: 900px) {
	.bio {
		padding: 100px 200px;
	}
	.portfolio-item {
		width: 33.3%;
	}
	.submit button {
		width: 66%;
	}
	.footer-top .info {
		width: 33.3%;
	}
}